# Promote brand around popular retweets

1.You are creating branding message for one of your fitness brands

2.Identify popular tweets on fitness that have been retweeted many times to bundle your branding message

In [2]:
# Import libraries
import pandas as pd
import numpy as np

In [3]:
# Import extracted tweets on IoT
tweet_fit  = pd.read_csv("tweet_fitness.csv")

In [4]:
# View basic info about the dataset
tweet_fit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13926 entries, 0 to 13925
Data columns (total 90 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  13926 non-null  float64
 1   status_id                13926 non-null  float64
 2   created_at               13926 non-null  object
 3   screen_name              13926 non-null  object
 4   text                     13926 non-null  object
 5   source                   13926 non-null  object
 6   display_text_width       13926 non-null  int64
 7   reply_to_status_id       163 non-null    float64
 8   reply_to_user_id         264 non-null    float64
 9   reply_to_screen_name     264 non-null    object
 10  is_quote                 13926 non-null  bool
 11  is_retweet               13926 non-null  bool
 12  favorite_count           13926 non-null  int64
 13  retweet_count            13926 non-null  int64
 14  quote_count              0 non-null      float64
 15  reply_count              0 non-null      float64
 16  hashtags                 12182 non-null  object
 17  symbols                  3 non-null      object
 18  urls_url                 6714 non-null   object
 19  urls_t.co                6714 non-null   object
 20  urls_expanded_url        6714 non-null   object
 21  media_url                5126 non-null   object
 22  media_t.co               5123 non-null   object
 23  media_expanded_url       5123 non-null   object
 24  media_type               5123 non-null   object
 25  ext_media_url            5123 non-null   object
 26  ext_media_t.co           5123 non-null   object
 27  ext_media_expanded_url   5123 non-null   object
 28  ext_media_type           0 non-null      float64
 29  mentions_user_id         6635 non-null   object
 30  mentions_screen_name     6635 non-null   object
 31  lang                     13926 non-null  object
 32  quoted_status_id         137 non-null    float64
 33  quoted_text              137 non-null    object
 34  quoted_created_at        137 non-null    object
 35  quoted_source            137 non-null    object
 36  quoted_favorite_count    137 non-null    float64
 37  quoted_retweet_count     137 non-null    float64
 38  quoted_user_id           137 non-null    float64
 39  quoted_screen_name       137 non-null    object
 40  quoted_name              137 non-null    object
 41  quoted_followers_count   137 non-null    float64
 42  quoted_friends_count     137 non-null    float64
 43  quoted_statuses_count    137 non-null    float64
 44  quoted_location          105 non-null    object
 45  quoted_description       132 non-null    object
 46  quoted_verified          137 non-null    object
 47  retweet_status_id        5117 non-null   float64
 48  retweet_text             5117 non-null   object
 49  retweet_created_at       5117 non-null   object
 50  retweet_source           5117 non-null   object
 51  retweet_favorite_count   5117 non-null   float64
 52  retweet_retweet_count    5117 non-null   float64
 53  retweet_user_id          5117 non-null   float64
 54  retweet_screen_name      5117 non-null   object
 55  retweet_name             5117 non-null   object
 56  retweet_followers_count  5117 non-null   float64
 57  retweet_friends_count    5117 non-null   float64
 58  retweet_statuses_count   5117 non-null   float64
 59  retweet_location         4314 non-null   object
 60  retweet_description      4915 non-null   object
 61  retweet_verified         5117 non-null   object
 62  place_url                832 non-null    object
 63  place_name               832 non-null    object
 64  place_full_name          832 non-null    object
 65  place_type               832 non-null    object
 66  country                  832 non-null    object
 67  country_code             832 non-null    object
 68  geo_coords               13926 non-null  object
 69  coords_coords            13926 non-null  object
 70  bbox_coords              13926 non-null  object
 71  status_url               13926 non-null  object
 72  name                     13926 non-null  object
 73  location                 10546 non-null  object
 74  description              12691 non-null  object
 75  url                      9099 non-null   object
 76  protected                13926 non-null  bool
 77  followers_count          13926 non-null  int64
 78  friends_count            13926 non-null  int64
 79  listed_count             13926 non-null  int64
 80  statuses_count           13926 non-null  int64
 81  favourites_count         13926 non-null  int64
 82  account_created_at       13926 non-null  object
 83  verified                 13926 non-null  bool
 84  profile_url              9099 non-null   object
 85  profile_expanded_url     9094 non-null   object
 86  account_lang             0 non-null      float64
 87  profile_banner_url       12333 non-null  object
 88  profile_background_url   8854 non-null   object
 89  profile_image_url        13926 non-null  object
dtypes: bool(4), float64(22), int64(8), object(56)
memory usage: 9.2+ MB

In [5]:
# View dataset
tweet_fit.head()

,user_id,status_id,created_at,screen_name,text,source,display_text_width,reply_to_status_id,reply_to_user_id,reply_to_screen_name,...,statuses_count,favourites_count,account_created_at,verified,profile_url,profile_expanded_url,account_lang,profile_banner_url,profile_background_url,profile_image_url
0,2.415031e+07,1.250000e+18,2020-04-03T05:40:43Z,mrgeoffbaker,Uncertain times call for uncertain exercise te...,Twitter for iPhone,94,NaN,NaN,NaN,...,296,952,2009-03-13T09:39:13Z,False,NaN,NaN,NaN,https://pbs.twimg.com/profile_banners/24150308...,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9911899446...
1,4.567783e+09,1.250000e+18,2020-04-03T05:40:40Z,fhum_rats,"Miss a day, double the effort... \n\n#orbitrek...",Twitter for iPhone,276,NaN,NaN,NaN,...,754,2770,2015-12-22T12:46:05Z,False,https://t.co/c60QszlRCU,http://instagram.com/fhumudzani,NaN,https://pbs.twimg.com/profile_banners/45677825...,NaN,http://pbs.twimg.com/profile_images/6795897914...
2,4.567783e+09,1.250000e+18,2020-04-01T18:43:47Z,fhum_rats,The month of March is done and dusted...üèÉüèΩ #fi...,Twitter for iPhone,275,NaN,NaN,NaN,...,754,2770,2015-12-22T12:46:05Z,False,https://t.co/c60QszlRCU,http://instagram.com/fhumudzani,NaN,https://pbs.twimg.com/profile_banners/45677825...,NaN,http://pbs.twimg.com/profile_images/6795897914...
3,7.077661e+07,1.250000e+18,2020-04-03T05:39:28Z,erlingasjokvist,ClassPass Throws Crucial Lifelines To Fitness ...,Twitter Web App,186,NaN,NaN,NaN,...,17764,5700,2009-09-01T20:27:10Z,False,https://t.co/VFjRk2uak4,https://www.midliferswebbusiness.com/,NaN,https://pbs.twimg.com/profile_banners/70776608...,http://abs.twimg.com/images/themes/theme13/bg.gif,http://pbs.twimg.com/profile_images/9946243765...
4,1.240000e+18,1.250000e+18,2020-04-03T05:39:27Z,MccoyChristina3,"""Work hard in silence and let your success mak...",Twitter for Android,271,NaN,NaN,NaN,...,156,1213,2020-03-24T15:16:17Z,False,NaN,NaN,NaN,https://pbs.twimg.com/profile_banners/12424702...,NaN,http://pbs.twimg.com/profile_images/1242472023...

In [6]:
# Create a subset dataframe of tweet text and retweet count
rtwt = tweet_fit[['text', 'retweet_count']]
rtwt

                                                    text  retweet_count
0      Uncertain times call for uncertain exercise te...              0
1      Miss a day, double the effort... \n\n#orbitrek...              0
2      The month of March is done and dusted...üèÉüèΩ #fi...              0
3      ClassPass Throws Crucial Lifelines To Fitness ...              0
4      "Work hard in silence and let your success mak...              0
...                                                  ...            ...
13921  Exercise is provent ingredient for HAPPINESS. ...              0
13922  Be a part of the cure and participate in popul...              0
13923  PM Modi shares his #fitness routine during #lo...             88
13924  Sending a lil sunshine your way. üíõ How are you...            160
13925  PM Modi shares his #fitness routine during #lo...             88

[13926 rows x 2 columns]

In [7]:
# Print rtwt with two columns
rtwt.head()

                                                text  retweet_count
0  Uncertain times call for uncertain exercise te...              0
1  Miss a day, double the effort... \n\n#orbitrek...              0
2  The month of March is done and dusted...üèÉüèΩ #fi...              0
3  ClassPass Throws Crucial Lifelines To Fitness ...              0
4  "Work hard in silence and let your success mak...              0

In [10]:
# Sort dataframe based on descending order of retweet counts
rtwt1 = rtwt.sort_values(by='retweet_count', ascending=False)

In [11]:
# Remove duplicate rows, keeping only once instance
rtwt2 = rtwt1.drop_duplicates(subset='text', keep='first')

In [12]:
# Print top 6 unique posts retweeted most number of times
pd.set_option('display.max_colwidth', -1)
rtwt2.head(10)

<ipython-input-12-61b361449253>:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,text,retweet_count
8226,Would you like some sexy work out?\nGym Hana set is currently available on: https://t.co/edY7ZUD6z0\n#workout #gym #fitness #gymmotivation #bootyshot #asiangirlfriend #hanabunny https://t.co/YNuOvfCi6R,1252
10489,"At home, outside, just keep hitting your goals. #fitness https://t.co/3K3851nkYi",808
9434,pink summer üçß\n#moqiyan #abs #fitness #schlong #hunk #hung https://t.co/sik2mGKh4U,745
6632,Sometimes in life it‚Äôs only about finding the right footing #presstohandstand #calesthenics #control #strength #fitness https://t.co/k66gZ6xvtr,628
3820,Just a little foam rolling between friends. Check out the latest ep of #GymTime with myüí• Baywatch co-star @AADaddario https://t.co/8MRiBkkJXX #fitness https://t.co/Hw19Oazc38,620
12709,"Quaran-training üòâ Don't forget about your personal fitness during the quarantine. Stay fit, stay healthy ‚úåüèæüòÅ\n\n#CrushQuarantine #Fitness #HomeWorkout #Training https://t.co/j5ZdnuGtcd",372
8679,Follow our TikTok for helpful at home #fitness tips\n\nhttps://t.co/IR2w3oaPUS https://t.co/i9B2WJ1dMG,317
9957,Cosplay Vs Character\n\n#cosplayvscharacter #Cosplay #fitness #capcom #Residentevil #ChrisRedfield #KingoftheNorthCosplays https://t.co/gU9MXEYgWt,300
11276,I am on a journey where there is NO TURNING BACK \n\n#ParasChabbra #actor #TV #biggboss #biggboss13 #mujhseshaadikaroge #ColorsTv #Style #mensfashion #fitness #casual https://t.co/0TIAzRKBwz,273
1581,Visit https://t.co/Tbm7ZELqaz - a premiere wellness forum giving away a laptop for the grand opening. #cbd #hemp #wellness #fitness #cbdlife #dwf,271